<div id="assistpane"><div><span id="assistant"></span></div><label id="debugTool"></label></div>
<script>
function current_res()
{
    debugTool.innerHTML = null;
    debug_result(window.innerWidth + " x " + window.innerHeight);
    let cm = document.getElementsByClassName('context-menu');
    for(let i = 0 ; i < cm.length ; i++) cm[i].classList.add('display-none');
}
document.body.onresize = current_res;

function debug_result(text) {
    if (debugTool.innerHTML.length < 1) {
        debugTool.innerHTML = text;
        debugTool.style.padding = "0 1em";
        window.setTimeout(function () {
            debugTool.innerHTML = null;
            debugTool.style.padding = "0";
        }, 3000);
    }
}
</script>
<style>
#assistpane {position: fixed; bottom: 0;width: 100%;max-height: 80px;text-align: right;z-index: 1000;}
#assistpane > div{display: block;text-align: center}
#assistant {font-size: 15pt;border-radius: 7px;}
#debugTool {color: #0cc;background-color: rgba(0,0,0,0.9);margin: 0;transition: 1s;}
</style>
