<div class="group">
    <li>
        <label class="prompt float-left">New Password</label><label class="required float-right">*</label>
        <input id="txt_input_1" name="txt-new-pass"  required="" type="password"/>
        <span id="cmc_1" class="cmc" title="ensure password subscribe to requirements below"></span>
    </li>
    <li class="exception">
        <label class="prompt float-left">Retype Password</label><label class="required float-right">*</label>
        <input id="txt_input_2" name="txt-retype-pass"  required="" type="password"/>
        <span id="cmc_2" class="cmc" title="confirm new password"></span>
    </li>
    <div class="pass-strength clearfix">
        <input type="hidden" id="passwd_length" value="8"/>
        <span class="float-left">
            <ul>
                <li id="1pStrength0">Upper Case</li>
                <li id="1pStrength1">Lower Case</li>
                <li id="1pStrength2">Numeric Values</li>
                <li id="1pStrength3">Symbols</li>
                <li id="1pStrength4">8 Characters Minimum</li>
            </ul>
        </span>
        <span class="float-right">
            <ul>
                <li id="2pStrength0">Upper Case</li>
                <li id="2pStrength1">Lower Case</li>
                <li id="2pStrength2">Numeric Values</li>
                <li id="2pStrength3">Symbols</li>
                <li id="2pStrength4">8 Characters Minimum</li>
            </ul>
        </span>
        <input type="hidden" id="passwd_match" value="0"/>
    </div>
</div>
<script>
    function save_data(stage,target){
	var valid = true;
	switch (stage) {
		case 1:
		if(!passwd_strength(txt_input_1))	valid = false;
		if(!passwd_strength(txt_input_2))	valid = false;

		if(!valid) {
			switch_panels(sbm_btn,update_vss);
			validate_passwd(txt_input_1);
			validate_passwd(txt_input_2);
			break;
		}
		if(txt_input_1.value !== txt_input_2.value){
                    valid = false;
			err_field(txt_input_1,'password don\'t match');
			err_field(txt_input_2,'password don\'t match');
			switch_panels(sbm_btn,update_vss);
			break;
		}
		if(url_exists(window.localStorage.profile))	{	// checke if file exists
			post_ajax(window.localStorage.profile,'action=pass-update&pass1='+txt_input_1.value+'&pass2='+txt_input_2.value,function(data){save_data(2,data);});	//	forward operation to 'step 2'
		} else {
			input_error.classList.remove('display-none');	// invoke the error description element
			input_error.innerHTML = 'file \'' + target + '\' missing!';
			switch_panels(sbm_btn,update_vss);
			break;
		}
		break;
		case 2:
                switch (parseInt(target.split('$$')[1])) {
                case 0:
                    window.location = '.';
                    update_success.classList.remove('display-none');
                    sbm_btn.innerHTML = 'saved!';
                    sbm_btn.disabled = true;
                    break;
                case - 1:
                    console.log('validation');
                    break;
                case - 2:
                    console.log('home directory rename');
                    break;
                case - 3:
                    console.log('update error');
                    break;
                default:
                    console.log(target);
                    break;
            }
            switch_panels(sbm_btn, update_vss);
		break;
	}
}
</script>