* {margin: 0;padding: 0;}	/*perform reset*/
html,body {height: 100%;}	/*fix body height to that of display*/

/* remove dotted border to focused elements (firefox)*/
:focus{outline: none}
::-moz-focus-inner{border: 0}
/*change default selection colors to custom*/
::-moz-selection{color: var(--light-color);background-color:  var(--dark-color)}
::selection{color: var(--light-color);background-color:  var(--dark-color)}

input:required, input:invalid {box-shadow: none}
select{height: 28px}
textarea{min-height: 48px}

body {background: var(--main-bg-color);color: var(--darker-color);font-family: Arial;cursor: default;}
ul{list-style: none;}

a{text-decoration: none;color: var(--main-fg-color)}
