@font-face {
    font-family: comicsans;
    src: url(../../fonts/comic.ttf);
}
@font-face {
    font-family: comicsans bold;
    src: url(../../fonts/comicbd.ttf);
    font-weight: bold;
}
@font-face {
    font-family: brownfox;
    src: url('../../fonts/Brown Fox.ttf');
}
@font-face {
    font-family: mostwasted;
    src: url(../../fonts/Mostwasted.ttf);
}
@font-face {
	font-family: usprayed;
	src: url('../../fonts/uniquely Sprayed.ttf');
}
